body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f9;
}

.container {
  width: 80%;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
}

.board-table thead {
  background-color: #4a90e2;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.board-table th,
.board-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.board-table tbody tr:hover {
  background-color: #f1f7ff;
  cursor: pointer;
}

.title {
  text-align: left;
  padding-left: 20px;
}
